@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

// colors
$primary-color: #5067EB;
$primary-dark-color: #002548;
$primary-font-color: #2D2D2D;
$primary-caption-color: #8B8B8B;
$post-color: #F9F9F9;
$tag-container-color: #ffffff;
$background-color: #FFFFFF;
$login-background-color: #E8EEF5;

// sizing
$xl-font-size: 80px;
$title-font-size: 36px;
$header-font-size: 22px;
$body-font-size: 15px;
$radius: 10px;

// misc.
$smooth-shadow: 0 1px 1px rgba(0,0,0,0.025), 
                0 2px 2px rgba(0,0,0,0.025), 
                0 4px 4px rgba(0,0,0,0.025), 
                0 8px 8px rgba(0,0,0,0.025),
                0 16px 16px rgba(0,0,0,0.025);