.form-enter {
    opacity: 0;
}
.form-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.form-exit {
    opacity: 1;
}
.form-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

.add-btn {
    z-index: 1000;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: $accent-color !important;
    transition: all 0.5s ease-in;
    &:hover {
        background-color: $accent-color-shade !important;
    }
    & > i {
        color: white;
    }

    &.opened {
        animation: open 0.5s forwards;
    }
    &.closed {
        animation: close 0.5s forwards;
    }
    
}
.add-form {
    position:fixed;
    bottom: calc(2rem + 1em);
    right:calc(2rem + 1em);
    background-color: white;
    border-radius: $radius;
    width: fit-content;
    box-shadow: $smooth-shadow;

    &.youtube,
    &.youtube,
    &.github,
    &.text {
        width: 25rem;
    }

    &.youtube {
        .add-text > img {
            width: 100%;
        }
    }

    &.github {
        .add-text > p,
        .add-text > label {
            display: block;
        }
        .add-text > p {
            margin-top: 1rem;
        }
    }
    
    &-submit {
        width: 100%;
    }
    &-error {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .ui.icon.header > i {
            font-size: 5em;
        }
        .ui.icon.header > .sub.header {
            font-size: 18px !important;
        }
    }
}

.add-text {
    position: relative;
    padding: 2rem 1.5rem;
    &_field {
        margin: 0.25rem;
        width: 100% !important;
    }
    & > label {
        font-size: 14px;
    }
    & > h3 {
        text-align: center;
    }

    & > .fields {
        padding: 1rem 0;
    }
        
}

.add-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    &.opened {
        animation: fade-in 0.25s ease-in forwards;
    }
    &.closed {
        animation: fade-out 0.25s ease-in forwards;
    }
    &_choice > i,
    &_choice {
        background-color: transparent !important;
    }

    &_choice {
        width: 10rem;
    }
}

.tag-form {
    margin-bottom: 0.75rem;
    &_container {
        display: flex;
        flex-wrap: wrap;
        margin: 0.5rem 0;
    }
}

.loader.form {
    margin: auto;
}

.warning.icon.open {
    color: $green !important;
}
.warning.icon.closed {
    color: $red !important;
}


.submit-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

@keyframes open {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes close {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(1rem);
    }
}