.container > button {
  all: unset;
  all: unset;
  width: 100px;
  height: 35px;
  margin: 10px 10px 0 0;
  align-self: flex-end;
  background-color: #0041c2;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #0041c2;
}

.container > button:hover {
  background-color: #fff;
  color: #0041c2;
}

.header {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}


@media ( max-width: 1000px) {
  .header {
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.logout-btn {
  position: absolute;
  right: 7.5vw;
  color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 50rem;
  background-color: transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.1s opacity ease-in;
  &:hover {
    opacity: 0.75;
  }
}

.scroll-button {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;

}