@import './base.scss';

.login {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../assets/illustration.svg");
    background-repeat: no-repeat;
    background-position: center bottom -125px;
    background-size: 90vw 80vh;
    background-color: $login-background-color;

    &-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        &_name {
            margin-top: 12vh;
            font-size: $xl-font-size;
            text-align: center;
            height: fit-content;
            color: white;
            border-radius: 100rem;
        }
    
        &_tagline {
            font-size: 20px;
            width: 80%;
            color: white;
            text-align: center;
            margin-top: 0.75rem;
        }
    }


    &-container {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1.5rem;
    }

    &-btn-container {
        display: flex;
        flex-direction: column;
    }

    &-btn {
        padding: 0.75rem 1rem;
        background-color: transparent;
        text-decoration: none;
        outline: none;
        color: white;
        border: 1px solid white;
        border-radius: 50rem;
        cursor: pointer;
        transition: 0.2s opacity ease-in;

        &:hover {
            opacity: 0.75;
        }

        &:active {
            opacity: 0.75;
            background-color: rgba(255,255,255,0.25);
        }
    }

}

.loader {
    border: 4px solid lightgray;
    border-top: 4px solid $primary-color;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@media (max-width: 700px) {
    .login {
        background-size: 500px;
        background-position: center bottom 10vh;
    }
}