.is-stuckToBottom {
  position: fixed;
  right: 5%;
  bottom: 1%;
  z-index: 1000;
  text-align: center;
  }

* {
	font-family: Open Sans, sans-serif;
}
body {
	background-color: #f5f7f9;
}
div > .badge {
	margin-right: 5px;
}
div:last-of-type > .badge {
	margin-bottom: 30px;
}