.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
}
.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > .post { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
}

.post {
    position: relative;
    width: 100%;
    border-radius: $radius;

    &-body {
        border-radius: $radius;
        background-color: $post-color;
        &_header {
            padding: 2.5rem 2.5rem 1rem 2.5rem;
            margin-top: 1rem;
            .title {
                font-size: $header-font-size;
                margin-bottom: 0.25rem;
            }
            .creator,
            .time {
                display: block;
                margin-bottom: 0.15rem;
            }
            .time {
                font-style: italic;
                color: $primary-caption-color;
            }
        }
        &_content.github,
        &_content.contacts,
        &_content.youtube > a,
        &_content.text {
            padding: 0 2.5rem 2rem 2.5rem;
        }
        &_content.contacts {
            display: flex;
            flex-direction: column;
        }
        &_content.github {
            & > .contact-info{
                padding-top: 0;
            }
        }
        &_content {
            a {
                text-decoration: none;
                transition: 0.2s color ease-in;
                &:hover {
                    color: $primary-caption-color;
                }
            }
            p {
                margin-top: 0.5rem;
            }
            &-avatar {
                width: 90%;
                height: 90%;
                border-radius: $radius;
                object-fit: cover;
                margin: auto;
            }
            &-bio {
                padding: 1rem 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                & > span {
                    color: $grey;
                    margin-top: 0.5rem;
                }
                & > a {
                    margin-top: 1rem;
                }
            }
        }
        &_thumbnail {
            margin-top: 0.75rem;
            width: 100%;
        }
    }
    
    &-tags {
        display: flex;
        flex-wrap: wrap;
        padding: 0.75rem 1rem;
        border-radius: 0 0 $radius $radius;
        background-color: $tag-container-color;
    }

    &-delete,
    &-pin {
        opacity: .75;
        position: absolute;
        top: 0;
        cursor: pointer;
    }

    &-pin {
        width: 25px;
        right: 0;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }

    &-delete {
        width: 17px;
        left: 0;
        margin-top: 0.75rem;
        margin-left: 0.75rem;
    }
}

.tag {
    color: white;
    background-color: lightgray;
    padding: 0.25rem 0.75rem;
    border-radius: 25rem;
    margin-right: 0.2rem;
    margin-bottom: 0.4rem;
}

.contact-info.name {
    font-weight: 700;
    font-size: 20px;
}

.contact-info {
    padding: 0.5rem 0;
}