.profile {
    display: flex;
    align-items: center;
    padding: 1rem;
    
    &-avatar {
        width: 7.5rem;
        height: 7.5rem;
        background-color: grey;
        border-radius: 100%;
        margin-right: 1rem;

        &-img {
            max-width:100%;
            max-height:100%;
            border-radius: 100%;
        }
    }


    &-name {
        font-size: $title-font-size;
        margin-bottom: 0;
    }

    &-discord {
        width: 13rem;
        display: flex;
        align-items: center;
        & > img {
            width: 15px;
            margin-left: 0.25rem;
            opacity: .5;
            cursor: pointer;
            transition: 0.2s opacity ease-in;

            &:hover {
                opacity: 0.75;
            }
        }
        
        label {
            font-size: 20px;
        }

        input {
            font-size: 18px;
            flex-grow: 1;
            border: none;
            padding-bottom: 0.25rem;
            border-bottom: 1px solid rgba(0,0,0,0.3);
            transition: color 0.2s ease-in-out;
            &:focus {
                outline: none;
                border-color: $primary-color;
            }
        }
        
        &_input {
            color: grey;
            width: fit-content;
            padding-bottom: 0.25rem;
            transition: 0.1s border ease-in;
            
        }
    }
}